/* imports */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;700&display=swap');



body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(47, 46, 54);
}
#Cabecalho {
    left: 0px;
    z-index: 0;
    top: 0px;
    position: absolute;
    margin: 0 auto;
    padding: 0px;
    background-color: rgb(30, 29, 36);
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
#title {
    font-size: 200%;
    font-weight: 800;
    text-align: center;
    width: 368px;
    position: absolute; 
    margin: auto;
    padding: 0px;
    z-index: 1;
    color: white;
    font-family: 'Google Sans', sans-serif;
}
#capa {
    width: 200px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 100px;
    left: 30px;
    border-radius: 10px;
}
#about {
    position: absolute;
    font-weight: 900;
    font-size: 150%;
    margin: 0px;
    padding: 0px;
    z-index: 1;
    top: 100px;
    width: 700px;
    left: 260px;
    color: white;
    font-family: 'Google Sans', sans-serif;
}
#container {
    display: flex;
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 700px;
    left: 260px;
    height: 150px;
    background-color: rgb(30, 29, 34);
    top: 250px;
    border-radius: 10px;
}
#bought {
    color: white;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 30px;
    line-height: 150px;
    font-family: 'Google Sans', sans-serif;
    font-weight: 700;
    font-size: 200%;
}
#K {
    line-height: 60px;
    position: absolute;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    height: 60px;
    width: 80px;
    right: 30px;
    border-color: transparent;
    border-radius: 30px;
    font-size: 125%;
    background-color: rgb(54, 53, 61);
    color: white;
    font-family: 'Google Sans', sans-serif;
}
#Kobo {
    border-color: transparent;
    
    top: 45px;
    position: absolute;
    line-height: 60px;
    right: 30px;
    width: 70px;
    height: 60px;
}
#Sinopse {
    font-family: 'Google Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 430px;
    left: 30px;
    font-weight: 700;
    color: white;
}